body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.top, .footer {
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    
}

.top{
    display: flex;
    /*height: 450px;*/
    flex-direction: column;
    flex: 1;
    padding: 0 400px;
    padding-bottom: 100px;
}
.top-content {
    flex:1;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.top-image {
    display: flex;
    background-color: #70696d;
    min-width: 550px;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
}


.footer {
    color: #f9faf8;
}

h1, .logo-text  {
    color: #f9faf8;
    
}

h1 {
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 6px;
    margin-top: 8px;
}

.top-text {
    margin-top: 6px;
}

ul, .top-text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;    
}

.top-btn {
    border-style: none;
}

.card {
    display: flex;
    flex-direction: column;
}

.cards h2 {
    font-size: 36px;
    font-weight: 900;
}

.card p {
    flex-wrap: wrap;
    width: 150px;
}

.small-image {
    border-style: solid;
    border-color: #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border-width: 4px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
    
}

.cards-content {
    gap:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.quote {
    display: flex;
    justify-content: space-around;
}

.quote-content {
    display: flex;
    flex-direction: column;
    width: 790px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    margin: 0;
}

.quote h3 {
    margin: 0px 20px;
    align-self: flex-end;
}

.call-content {
    background-color: #3882F6 ;
    color: #f9faf8;
}

button {
    background-color: #3882F6 ;
    color: #f9faf8;
    border-color: #f9faf8;
    border-radius: 5px;
    border-style: solid;
    padding: 8px 32px;
    font-weight: 700;
    font-size: 18px;
}


.call-content {
    display: flex;
    justify-content: space-around;
    margin: 100px 400px;
    border-radius: 5px;
    flex: 1;
}

.call-text {
    margin: 25px auto;
}

.call-text p {
    margin-top: 0;
}

.call-text h3 {
    margin-bottom: 5px;
}

.call button {
    margin: auto;
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 100px;
}

.footer p {
    margin: auto;
}